$c-white: #fff;
$c-disco: #9b2052;
$c-haiti: #131139;
$c-plum: #90268d;
$c-blueZodiac: #0b0f37;
$c-denim: #1348dc;
$c-blueRibbon: #1057ff;
$c-luckyPoint: #1A1971;
$c-red: #ff0000;
$c-japaneseLaurel: #008000;
$c-codGray: #13100F;
$c-mongoose: #B4A08A;
$c-indianKhaki: #bca891;
$c-kabul: #574b44;
$c-doveGray: #6e6e6e;
$c-silver: #c9c9c9;
$c-valhalla: #2b1845;
$c-minsk: #522e7a;
$c-mrViolet: #b2368c;


$-fontUbuntu: 'Ubuntu Condensed', sans-serif;


$break-xs: 480px;
$break-mobile: 767px;
$break-mid: 991px;
$break-laptop: 1299px;
$break-high: 1600px;

$low-size: 100px;
$low-xs-size: 125px;
$low-s-size: 150px;
$standard-size: 200px;
$standard-x-size: 300px;
$high-s-size: 600px;
$high-size: 645px;



$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;

$space-xsx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-x-standard: 25px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xs-large: 60px;
$space-xsx-large: 65px;

$button-xx-small: 80px;
$button-x-small: 130px;
$button-small: 250px;
$button-medium: 320px;
$button-large: 375px;